<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

  <!-- **************************************************************************
       *
       * Copyright (c) 2010-2017 Primerica Financial Services (PRI)
       *
       * ISPAPPS Spring MVC Project for ISP module
       * for mobile services and applications.
       *
       ************************************************************************** -->
  <display-name>registration</display-name>
  <description>
    This is Registration Flow web application
  </description>

  <welcome-file-list>
    <welcome-file>/index.html</welcome-file>
  </welcome-file-list>
</web-app>